@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.selectContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.selectTitle {
    font-size: 16px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.selectField {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.input-error-message {
    color: rgb(250, 68, 68);
}