@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

.container {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ffffff;
}

.title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

.text p {
  font-family: "Roboto", sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.editButton {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.deleteButton {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.statusSelect {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.styledButton {
  background-color: #9e9e9e;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto", sans-serif;
}

.styledButton:hover {
  background-color: #000000;
}
