/* Estilo geral do container do login */
.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  /* Estilos do formulário */
  .loginform {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para os rótulos */
  .loginform label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  /* Estilo para os campos de input */
  .loginform input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Estilo para o botão de login */
  .loginform button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginform button:hover {
    background-color: #0056b3;
  }
  