@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.homeContainer {
  width: 100%;
  max-width: 1920px;  /* Largura máxima */
  height: 1080px;  /* Altura fixa */
  margin: 0 auto;  /* Centraliza o conteúdo horizontalmente */
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribui espaço entre os elementos */
  background-color: #d3d3d3; /* Cor de fundo da barra */
  padding: 10px 20px; /* Ajusta o espaçamento interno */
  font-family: 'Roboto', sans-serif;
}

.logoImage {
  object-fit: contain;   /* Garante que a imagem se ajuste sem cortar */
}

.logo {
  display: flex;
  align-items: center;   /* Alinha a imagem centralmente no header */
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.nav span {
  cursor: pointer;
}

.hero {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.heroContent {
  max-width: 100%;
}

.newArrivals {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.newArrivals h2 {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Ajuste para 5 colunas */
  gap: 20px;
  font-family: 'Roboto', sans-serif;
}

.bookCard {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.bookCard p {
  margin: 5px 0;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.styledButton {
  background-color: #9e9e9e;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.styledButton:hover {
  background-color: #000000;
}

.title {
  font-size: 2rem; /* Tamanho maior para o título */
  margin-left: 15px; /* Espaço entre a imagem e o título */
  color: #000000;
  font-family: 'Merriweather', sans-serif;
}
