/* styles/Home.module.css */

.homeContainer {
  width: 100%;
  max-width: 1920px;  /* Largura máxima */
  height: 1080px;  /* Altura fixa */
  margin: 0 auto;  /* Centraliza o conteúdo horizontalmente */
  padding: 20px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #0d0338;
}

.logoImage {
  object-fit: contain;   /* Garante que a imagem se ajuste sem cortar */
}

.logo {
  display: flex;
  align-items: center;   /* Alinha a imagem centralmente no header */
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
}

.nav span {
  cursor: pointer;
}

.hero {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.heroContent {
  max-width: 100%;
}

.newArrivals {
  margin-top: 40px;
}

.newArrivals h2 {
  margin-bottom: 20px;
}

.bookGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Ajuste para 5 colunas */
  gap: 20px;
}

.bookCard {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  text-align: center;
}

.bookCard p {
  margin: 5px 0;
  font-size: 1rem;
}
